

*{
    margin: 0;
    padding: 0;
    transition: .2s;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: #f5f5f5;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7%;
    background-color: #252525;
    box-shadow: #aaaaaa 0 5px 15px;
}
.header #logo{
    font-family: Amster;
    font-size: 3rem;
    color: #f5f5f5;
}

.navbar a{
    font-family: prompt;
    color: #f5f5f5;
    font-size: 1.7rem ;
    margin-left: 1rem;
    padding: 10px;
}


.men{
    font-family: prompt;
}
.navbar a:hover{
    background-color: #f5f5f5;
    color: #000;
    border-radius: 15px;
    padding: 20px;
}

.icons i{
    font-size: 2rem;
    margin-left: 1rem;
    color: #f5f5f5;
    cursor: pointer;
}
.icons i:hover{
    background-color: #f5f5f5;
    color: #000;
    border-radius: 15px;
    padding: 20px;
}
.men{
    display: flex;
    box-sizing: border-box;
}

.sidebar{
    padding-left: 22px;
    margin-top: 5%;
    /* background-color: red; */
    border-right: 2px solid #aaaaaa;
    height: 300vh;
    width: 500px;
}

.sidebar label{
    color: #252525;
    font-size: 22px;
    font-weight: 600;
    display: block;
    cursor: pointer;
}
.sidebar ul{
    margin-left: 20px;
    left: 70px;
    width: 90%;
    border-radius: 5px;
    
}

.sidebar ul li a {
    color: #414040cb;
    font-size: 16px;
    margin-left: 15px;
    text-decoration: none;
}

.sidebar ul li a:hover{
    color: #58d6df;
    font-size: 16px;
     margin-left: 15px;
     text-decoration: none;
}
.flexbox{
    margin: auto;
    margin-top: 6%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.item{
    display: block;
    box-sizing: border-box;
    width: 33.33%;
    margin-bottom: 20px;
}

.content {
    /* background-color: red; */
    text-align: center;
    cursor: pointer;
}

.content h3{
    font-size: 16px;
    text-align: center;
}
img{
    border-radius: 20px;
    width: 400px;
}